.background {
  display: flex;
  align-items: center;
  position: relative;
  overflow-y: auto;
  height: 100vh;
  background-image: url('../img/background.svg');
  background-size: cover; /* Adiciona isso para a imagem de fundo cobrir todo o contêiner */
  background-position: center; /* Centraliza a imagem de fundo */
  background-repeat: no-repeat; /* Impede a repetição da imagem de fundo */
}
  
.background img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%; /* Se estiver usando uma imagem dentro do contêiner */
  height: auto; /* Se estiver usando uma imagem dentro do contêiner */
}
  
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: var(--text-2);
}
  
::-webkit-scrollbar {
  width: 3px;
  background: transparent;
}